<nav id="sidebar" class="active sidebar-wrapper d-none d-lg-flex">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Genesis Gear Shop</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          <span class="text-black">Home</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark" onclick="filterProducts('Gnesis Brand')" > 
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          <span class="text-black">Gnesis Brand</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark" onclick="filterProducts('Garments')">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          <span class="text-black">Garments</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark" onclick="filterProducts('Shorts')">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          <span class="text-black">Shorts</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark" onclick="filterProducts('Bottoms and hoodies')" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          <span class="text-black">Bottoms and hoodies</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark" onclick="filterProducts('jewellery')">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          <span class="text-black">jewellery</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark" onclick="filterProducts('Caps')" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          <span class="text-black">Caps</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark" onclick="filterProducts('Jackets')">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          <span class="text-black">Jackets</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark" onclick="filterProducts('Sweater')">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          <span class="text-black">Sweaters</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark" onclick="filterProducts('Sports Wear')">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          <span class="text-black">Sports Wear</span>
        </a>
      </li>
    </ul>
  </div>
</nav>